.navbar.navbar-default {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: #205081;
    border-color: #205081
}

.loading-ajax {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    line-height: 32%;
    margin: 0 auto;
    padding: 0;
    left: 0px;
    background: #fff;
    border-radius: 10px;
}

.loading-ajax img {
    display: block;
    margin: 20% auto;
}

#login-form {
    position: relative;
}

body {
    position: relative;
}

#notification-container {
    position: absolute;
    right: 430px;
    top: 28px;
    height: 50px;
    left: 20%;
}

#notifications .notification {
    background-position: 20px 8px;
    background-repeat: no-repeat;
    color: #666;
    margin: 0 auto 10px;
    padding: 5px 5px 5px 65px;
    position: relative;
    width: 365px;
    z-index: 1500
}

#notifications .notification.success {
    background-color: #efffe9;
    background-image: url("../images/notifications/notification-success-bg.png");
    border: 1px solid #d1f2d6;
    box-shadow: 0 0 15px #6da16f
}

#notifications .notification.error {
    background-color: #ffe9e9;
    background-image: url("../images/notifications/notification-error-bg.png");
    border: 1px solid #ff7373;
    box-shadow: 0 0 15px #ff7373
}

#notifications .notification.info {
    background-color: #f9f2db;
    background-image: url("../images/notifications/notification-info-bg.png");
    border: 1px solid #f0dec8;
    box-shadow: 0 0 15px #d0995c
}

#notifications .close {
    background: url("../images/notifications/icons_video.png") no-repeat scroll 0 1px transparent;
    cursor: pointer;
    height: 23px;
    margin-left: 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 23px
}

#notifications .notification p {
    font-size: 12px;
    margin: 0
}

#notifications .notification h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0
}

#notifications .notification.success h2 {
    color: #6da16f
}

#notifications .notification.error h2 {
    color: #ff7373
}

#notifications .notification.info h2 {
    color: #d0995c
}

.marginLeft10 {
    margin-left: 10px;
}

.marginRight10 {
    margin-right: 10px;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {
    #login-form {
        float: right;
        width: 500px;
        padding: 20px 50px 20px 23px;
        border: 1px solid #205081;
        border-radius: 7px;
    }

    #login-form .btn.btn-default {
        width: 100px;
        margin-top: 7px;
    }

    .login-view.text-larg {
        float: left;
    }

    .dashboard {
        width: 100%;
        display: block;
        overflow: hidden;
    }

    .dashboard .block {
        float: left;
        width: 49%;
    }

    .dashboard .block .block-title {
        background: #c50804;
    }

    .dashboard .block .block-title span {
        line-height: 27px;
        font-weight: normal;
        color: #fff;
        padding-left: 13px;
        font-size: 13px;
    }
}

