.f-right{float: right;}
.f-left{float:left}
.right-align{text-align: right;}
.left-align{text-align: left;}
.pleft-10{padding-left: 10px;}
.pright-10{padding-right: 10px;}
.list-user .table-header .actions select{margin: 0px;}